<!DOCTYPE html>
<html>
<head>
  <title>University Projects</title>
</head>
<body>
  <% if current_user.admin? %>
    <h1>Your Active Projects</h1>
  <% else %>
    <h1>Choose A Project</h1>
  <% end %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

  <% @projects.each do |project| %>
    <tr>
      <td> <%= project.title%> </td>
      <td> <%= project.description%> </td>
      <td><%= link_to "Show", project_path(project) %></td>
      <td><%= link_to "Edit", edit_project_path(project) %> </td>
      <td><%= link_to "Delete", project_path(project), method: :delete, data: {confirm: 'Are you sure?' }%></td>
    <% if current_user.admin = false || current_user.projects.exclude?(project) %>
      <td><%= render 'subscribe' %></td>
    <% elsif current_user.admin = false || current_user.projects.include?(project) %>
      <td><%= render 'unsubscribe' %></td>
    <% end %>
    </tr>
  <% end %>
</table>

<%= link_to "Profile", current_user %>
<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
</body>
</html>
