<!DOCTYPE html>
<html>
<head>
  <title>Show Project</title>
</head>
<body>
  <p><strong> Title: </strong><%= @project.title %></p>
  <p><strong> Description: </strong><%= @project.description %></p>
  <p><%= link_to "Edit Session", edit_project_path(@project) %></p>

<%= form_tag('/sms') do |form| %>
  <%= telephone_field_tag 'tel', nil, placeholder: "xxx-xxx-xxxx" %>
  <%= text_field_tag 'message', nil, placeholder: "message" %>
  <%= button_tag 'Send to Student' %>
    <%= form_tag('/sms/all') do |form| %>
      <%= button_tag 'Send to all Students', type: 'send all' %>
    <% end %>
<% end %><br>

<% @updates.each do |update| %>
  <%= update.title %>
  <%= update.description %>
<% end %>

<%= link_to 'Projects' , projects_path %>

</body>
</html>
